/* Hero Banner */
.hero-banner {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
}

.hero-content {
    text-align: left;
    max-width: 400px;
    color: var(--color-verde-primario);
    transform: translateY(-20px);
}

.hero-title {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 0; 
    line-height: 1.1;
    margin-top: -10px;
}

.hero-subtitle {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-top: 5px; 
    margin-bottom: 25px; 
    line-height: 1.1;
}

.hero-button {
    background: var(--color-boton);
    color: white;
    border: none;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 20px;
    transition: background 0.3s;
}

.hero-button:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}


/* Catalog Section */
.catalog-section {
    padding: 60px 20px;
    background: #F4F4F4;
}

.catalog-container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header h2 {
    font-size: 2rem;
    color: var(--color-verde-primario);
    margin-bottom: 30px;
}

.section-title{
    font-size: 2rem;
    color: var(--color-verde-primario);
}

.category-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.category-square {
    background: white;
    border-radius: 15px;
    padding: 20px 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.category-item {
    width: 300px; 
    height: 110px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-icono-gris); 
    border-radius: 4px;
    padding: 10px; 
    margin: 10px; 
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.category-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}


.category-item .icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgb(240, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 0 auto 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.category-item .icon-image {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain; 
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.product-card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-name {
    padding: 15px 20px 5px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-verde-primario);
    margin: 0;
}

.product-price {
    padding: 0 20px 20px;
    font-weight: 600;
    font-weight: bold;
    color: var(--color-gris-oscuro);
    margin: 0;
}

/* Promo Section */
.promo-section {
    max-width: 900px; 
    margin: 30px auto;
    border-radius: 15px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    background-image: url('/public/assets-img/banner2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 35px 20px; 
    text-align: center;
    color: var(--color-verde-primario);
}

.promo-container {
    max-width: 500px;
    margin: 0 auto;
}

.promo-title {
    font-size: 1.5rem;
    font-weight: 700; 
    margin-bottom: 0px; 
    color: var(--color-verde-primario); 
    text-transform: uppercase;
}

.promo-subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 10px;
    color: var(--color-verde-primario); 
}

.promo-description {
    font-size: 1rem; 
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 20px;
    color: var(--color-verde-primario); 
    opacity: 0.9;
}

.promo-button {
    background: var(--color-boton);
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s;
}

.promo-button:hover {
    transform: scale(1.05);
}

/* Footer */

.main-footer {
    background-color: var(--color-verde-secundario); 
    color: white;
    padding: 50px 20px 20px; 
    font-family: "poppins"; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto;
    flex-wrap: wrap; 
}

.footer-column {
    width: 10%; 
    min-width: 150px; 
    margin-bottom: 20px;
}

.brand-info {
    width: 30%; 
    min-width: 250px;
}

.column-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff; 
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 8xpx;
}

.footer-column a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    opacity: 0.85; 
    transition: opacity 0.3s;
}

.footer-column a:hover {
    opacity: 1;
}


.logo-container {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 5px; 
}

.footer-logo {
    width: 250px; 
    height: auto; 
    filter: brightness(2);
}

.tagline {
    font-size: 0.9rem;
    opacity: 0.85;
    line-height: 1.4;
    margin-top: 5px; 
}

/* Social Icon */

.social-icons a {
    font-size: 1.5rem;
    margin-right: 15px;
    color: white;
    opacity: 1; /
}


/* Copyright */

.footer-bottom {
    max-width: 1200px;
    margin: 30px auto 0;
    text-align: left;
}

.footer-divider {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.3); 
    margin: 0 0 20px;
}

.copyright {
    font-size: 0.8rem;
    opacity: 0.7;
}
